/* Google Font Sans */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Headeer Styls Start */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;

}
nav ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
}
/* Headeer Styls End */

/* Banner Styles Start */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-img{
    width: 1050px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 100px;
}
.banner-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn-praimary{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* Banner Styles End */

/* Main styels Start */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-container{
    display: flex;
    align-items: center;
    padding: 20px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-content-title{
    color: rgb(24, 24, 24);
    font-size: 2.5rem;
}
.list-1{
    font-size: 2.5rem;
}
.list-2{
    color: #FF900E;
    font-size: 2rem;
}
.team-content-title{
    color: gray;
}
.mmm{
    color: #131313;
}
.gray{
    color: rgb(71, 70, 70);
}

/* <-- Facts Section Start --> */

.Features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(107, 139, 167);
    box-shadow: 0px 4px 20px  rgb(29, 23, 1);
}
.font{
    font-size: 20px;
}
.ten-years-batch{
    background-color: #FF900E;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    padding: 40px;
    position: relative;
    bottom: 100px;
    color: white;
}
.features-img img{3 p{
    font-size: 4re
    margin-left: 60px;
}
.ten-years-batch hm;
}
.ten-years-batch{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

/* Main styels End */

/* <!-- Featurs Section Start --> */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container, .card{
    border-radius: 8px;
    padding: 30px 40px;
}
.cards{
    border: 2px solid #9f9c99;
    text-align: center;
    padding: 20px;
    background-color: rgb(156, 183, 183);
    box-shadow: 4px 4px 4px 4px ;
}
.facts-card-container, .card-title{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container, .card-stats{
    font-size: 2rem;
    color: #424242;
    margin-top: 10px;
}
.gray-s{
    text-align: center;
}

/* <!-- Featurs Section End --> */

/* <!-- Sponsers Section Start --> */

.spomsoirs-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
    gap: 165px;
}
.s{
    color: gray;
    text-align: center;
    margin-bottom: 60px;
}
footer{
   background-color: antiquewhite;
   height: 100px;
   width: 1000px;
   margin-right: 300px;
   margin-left: 300px;
   border-radius: 5px;
}
.ff{
    padding-top: 45px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

/* Responsive Media Quer */

/* Mobile Device */